*
!.gitignore
!.gitmodules

!hypr/
!hypr/**/*
!hyprlock/
!hyprlock/**/*
!waybar/
!waybar/**/*
!nvim/
!nvim/**/*
!wezterm/
!wezterm/**/*
!kitty/
!kitty/**/*
!ags/
!ags/**/*
!fastfetch/
!fastfetch/**/*
!rofi/
!rofi/**/*
!qt6ct/
!qt6ct/**/*
!qt5ct/
!qt5ct/**/*
!wallust/
!wallust/**/*
!swaync/
!swaync/**/*
!btop/
!btop/**/*
!cava/
!cava/**/*
!dunst/
!dunst/**/*
!fontconfig/
!fontconfig/**/*
!gtk-3.0/
!gtk-3.0/**/*
!gtk-4.0/
!gtk-4.0/**/*
!Kvantum/
!Kvantum/**/*
!swappy/
!swappy/**/*
!Thunar/
!Thunar/**/*
!wlogout/
!wlogout/**/*
